@using WebUI.Models.Shared;
@model List<WebUI.Models.At.EventCount>

@Html.Partial("_breadcrumb")
@if (Model.Count() <= 0)
{
    @Html.Partial("_nodatafound")
}
else
{
    <div class="row">
        <div class="col">
            <table class="table table-sm table-responsive text-center text-secondary small">
                <thead class="table-light">
                    <tr>
                        <th>#</th>
                        <th class="text-start">EventName</th>
                        <th>MonthYear</th>
                        <th>Total</th>
                        <th>Present</th>
                        <th>Absent</th>
                        <th>Malpractice</th>
                        <th>Buffer</th>
                        <th>Pending</th>
                        <th>IO Pending</th>
                        <th>Scan Pending</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 0;
                        foreach (var item in Model)
                        {
                            i++;
                                        <tr class="at-row">
                                            <th scope="row">@i</th>
                                            <td class="text-start">@item.EventName</td>
                                            <td>@item.ExamMonthYear</td>
                                            <td>@Html.ActionLink(item.Total.ToString(), "formdataquery", "adboard", new { screen= "eventcount", query = "T", esub = new SubjectMaster() { EId = item.Id } }, new { @class = "at-total" })</td>
                                            <td>@Html.ActionLink(item.Present.ToString(), "formdataquery", "adboard", new { screen = "eventcount", query = "P", esub = new SubjectMaster() { EId = item.Id } }, new { @class = "at-present" })</td>
                                            <td>@Html.ActionLink(item.Absent.ToString(), "formdataquery", "adboard", new { screen = "eventcount", query = "A", esub = new SubjectMaster() { EId = item.Id } }, new { @class = "at-absent" })</td>
                                            <td>@Html.ActionLink(item.Malpractice.ToString(), "formdataquery", "adboard", new { screen = "eventcount", query = "MP", esub = new SubjectMaster() { EId = item.Id } }, new { @class = "at-malpractice" })</td>
                                            <td>@Html.ActionLink(item.Buffer.ToString(), "formdataquery", "adboard", new { screen = "eventcount", query = "B", esub = new SubjectMaster() { EId = item.Id } }, new { @class = "at-buffer" })</td>
                                            <td>@Html.ActionLink(item.Pending.ToString(), "formdataquery", "adboard", new { screen = "eventcount", query = "ATPENDING", esub = new SubjectMaster() { EId = item.Id } }, new { @class = "at-pending" })</td>
                                            <td>@Html.ActionLink(item.IOPending.ToString(), "formdataquery", "adboard", new { screen = "eventcount", query = "IOPENDING", esub = new SubjectMaster() { EId = item.Id } }, new { @class = "at-io-pending" })</td>
                                            <td>@Html.ActionLink(item.ScanPending.ToString(), "formdataquery", "adboard", new { screen = "eventcount", query = "SCANPENDING", esub = new SubjectMaster() { EId = item.Id } }, new { @class = "at-scan-pending" })</td>                                            
                                            <td>@Html.ActionLink("View", "sessioncount", "adboard", new { eid = item.Id }, new { @class = "btn btn-sm btn-info" })</td>
                                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@section scripts {
    <script src="~/Scripts/at_admin_common.js"></script>
}





